# For backup files that are created by Vim.
*~

# Folder containing external packages used in our project.
# Need to commit the jquery folder since we are unable to install it through Composer.
vendor/

